:root {
    --cerulean: #007ba7;
    --cerulean-bold: #006f8e;
    --cerulean-lake: #4fa3c2;
    --cerulean-sky: #00a1c0;
    --cerulean-cool: #007bbb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
}

.left-stuff {
    width: 14%;
    min-width: fit-content;
    min-height: fit-content;
    background-color: var(--cerulean-lake);
    border: 3px solid var(--cerulean-bold);
    border-radius: 15px;
    text-align: center;
}

.right-stuff {
    width: 14%;
    min-width: fit-content;
    min-height: fit-content;
    background-color: burlywood;
    border: 3px solid #996e36;
    border-radius: 15px;
    text-align: center;
}

.container {
    display: grid;
    min-height: 100vh;
    align-items: start;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
    gap: 2rem;
}
